.App {
  text-align: center;
  margin: auto 60px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media screen and (max-width: 600px) {
  .App {
    margin: auto 25px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

